<extend name="Public/based"/>
<block name="css">
    <link href="__ROOT__/Public/assets/pages/css/profile.min.css" rel="stylesheet" type="text/css"/>
    <link href="__ROOT__/Public/assets/globals/css/dt.css" rel="stylesheet" type="text/css"/>
    <link href="__ROOT__/Public/assets/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="__ROOT__/Public/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet"
          type="text/css"/>
    <link href="__ROOT__/Public/assets/plugins/multiple-select-master/multiple-select.css" rel="stylesheet"
          type="text/css"/>
    <link href="__ROOT__/Public/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"
          type="text/css"/>

</block>
<block name="content">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"><<{$title}>>用户组</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form action="__ACTION__" id="formvalid2" method="POST">
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" name="title" id="title" value="<<{$info.title|default=''}>>" >
                            <label for="form_control_1">用户组
                                <span class="required">*</span>
                            </label>
                            <span class="help-block">描述用户可负责的职责，即其所属的角色...</span>
                        </div>
                        <div class="form-group form-md-line-input">
                            <textarea class="form-control" name="description" id="description"><<{$info.description|default=''}>></textarea>
                            <label for="form_control_1">描述
                            </label>
                            <span class="help-block">角色描述...</span>
                            <input type="hidden" name="id" value="<<{$info.id|default=''}>>">
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn green">提交</button>
                                <button type="reset" class="btn default" onclick="javascript:history.back(-1);return false;">返回</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</block>
<block name="script">
    <script src="__ROOT__/Public/assets/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="__ROOT__/Public/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"
            type="text/javascript"></script>
    <script src="__ROOT__/Public/assets/plugins/multiple-select-master/multiple-select.js"
            type="text/javascript"></script>
    <script src="__ROOT__/Public/assets/pages/js/jquery.form.js" type="text/javascript"></script>
    <script src="__ROOT__/Public/assets/plugins/jquery-validation/js/jquery.validate.min.js"
            type="text/javascript"></script>
    <script src="__ROOT__/Public/assets/plugins/jquery-validation/js/additional-methods.min.js"
            type="text/javascript"></script>
    <script src="__ROOT__/Public/assets/plugins/layer/layer.js" type="text/javascript"></script>
</block>
<block name="pagescript">
    <script src="__ROOT__/Public/assets/pages/js/AuthValid.js" type="text/javascript"></script>
</block>